body {
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}





.ico12 {
  width: 12px;
  height: 12px;
  background-image: url(sprite.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}
.ico12-brand { background-position: 0 0; }
.ico12-ui { background-position: 0 -12px; }
.ico12-frontend { background-position: 0 -24px; }
.ico12-backend { background-position: 0 -36px; }
.ico12-mobile { background-position: 0 -48px; }
.ico12-email { background-position: 0 -60px; }
.ico12-pk { background-position: 0 -72px; }
.ico12-ae { background-position: 0 -84px; }
.ico12-web { background-position: 0 -96px; }
.ico12-linkedin { background-position: 0 -108px; }
.ico12-behance { background-position: 0 -120px; }
.ico12-github { background-position: 0 -132px; }
.ico12-figma { background-position: 0 -144px; }
.ico12-xd { background-position: 0 -156px; }
.ico12-invision { background-position: 0 -168px; }
.ico12-photoshop { background-position: 0 -180px; }
.ico12-sketch { background-position: 0 -192px; }
.ico12-illustrator { background-position: 0 -204px; }
.ico12-html { background-position: 0 -216px; }
.ico12-javascript { background-position: 0 -228px; }
.ico12-css { background-position: 0 -240px; }
.ico12-sass { background-position: 0 -300px; }
.ico12-jquery { background-position: 0 -252px; }
.ico12-bootstrap { background-position: 0 -312px; }
.ico12-ajax { background-position: 0 -264px; }
.ico12-json { background-position: 0 -276px; }
.ico12-api { background-position: 0 -324px; }
.ico12-xml { background-position: 0 -288px; }
.ico12-wordpress { background-position: 0 -336px; }
.ico12-php { background-position: 0 -360px; }
.ico12-mysql { background-position: 0 -384px; }
.ico12-jenkins { background-position: 0 -348px; }
.ico12-git { background-position: 0 -372px; }
.ico12-jira { background-position: 0 -396px; }
.ico12-react { background-position: 0 -408px; }
.ico12-vue { background-position: 0 -420px; }
.ico12-whatsapp { background-position: 0 -432px; }
.ico12-teams { background-position: 0 -444px; }





.container {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  width: 90%;
}
.container .left {
  width: 420px;
}
.container .right {
  display: flex;
  flex-direction: column;
}
.container ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  list-style: none;
}
.container ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  margin: 0.75rem 0;
}
.container ul.col2 li {
  width: 50%;
}
.container ul.col3 li {
  width: 33.333333%;
}
.container ul li .ico {
  margin-right: 0.75rem;
}
.container ul li .label {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: inherit;
  color: #343F56;
  
}
.container h3 {
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.45rem;
  font-weight: 300;
  line-height: 1.75rem;
  color: #9A9FAB;
}
.container h5 {
  display: flex;
  align-items: center;
  margin: 0.75rem 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.05rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #FF8C00;
}
.container p {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.75rem;
  color: #343F56;
}
.container small {
  display: inline-block;
  margin: 0 0.65rem;
  padding: 0 0.85rem;
  font-family: 'Roboto', sans-serif;
  font-size: 0.80rem;
  font-weight: 400;
  line-height: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #FF8C00;
  border-radius: 2rem;
}
.container .smaller {
  margin: 0 0.65rem;
  padding: 0.25rem 0.85rem 0.3rem 0.85rem;
  font-family: 'Roboto', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: inherit;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #343F56;
  border-radius: 2rem;
}
.container a {
  text-decoration: none;
  color: #343F56;
}
.container a:hover,
.container a:focus {
  text-decoration: none;
}
.container .arif {
  width: 380px;
  border: none;
}
.container .ui-ux-front-end {
  margin: 2rem 0;
}
.container .arif-muhammad {
  margin: 1rem 0;
}
.container .intro {
  margin: 1rem 0;
}
@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
  }
  .container .left,
  .container .right {
    width: 100%;
  }
  .container .left {
    text-align: center;
  }
  .container .arif {
    width: 140px;
  }
  .container .ui-ux-front-end {
    margin: 1rem 0;
  }
}
@media screen and (max-width: 600px) {
  .container ul.col2 li {
    width: 100%;
  }
  .container ul.col3 li {
    width: 50%;
  }
  .container .arif {
    width: 90px;
  }
}
