.brands {
	@include wrappers;
	display: flex;
	flex-direction: column;
	margin: 2rem auto;
	padding: 3rem 7rem;
	background-color: $secondary;
	@media (max-width: $breakpoint-tablet-lg) {
		margin-top: 4rem;
	}
	@media (max-width: $breakpoint-tablet) {
		margin-top: 2rem;
		padding: 1.5rem 2rem;
	}
	@media (max-width: $breakpoint-mobile) {
		padding: 1.5rem 1rem;
	}
	&.sm {
		.listing {
			max-width: 1024px;
		}
	}
	.titles {
		h2 {
			color: $white;
		}
		p {
			color: $secondary-30;
		}
	}
	.listing {
		margin: 0 auto;
		max-width: $maxWidth-sm;
		ul {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin: 0 auto;
			li {
				display: grid;
				margin-top: 2rem;
				padding: 0 1rem;
				width: 20%;
				@media (max-width: $breakpoint-tablet) {
					margin-top: 1rem;
					padding: 0 1rem;
				}
				@media (max-width: $breakpoint-mobile) {
					margin-top: 1rem;
					padding: 0 0.5rem;
					width: 33.333333%;
				}
				.image {
					@include dropshadows;
					@include corners;
					position: relative;
					overflow: hidden;
					display: flex;
					width: 100%;
					height: 160px;
					@media (max-width: $breakpoint-tablet-lg) {
						height: 120px;
					}
					@media (max-width: $breakpoint-tablet) {
						height: 100px;
					}
					@media (max-width: $breakpoint-mobile) {
						height: 90px;
					}
					@media (max-width: $breakpoint-mobile-sm) {
						height: 75px;
					}
					&:hover {
						img {
							transform: scale(1.05);
							filter: none;
						}
					}
					&.no-link {
						pointer-events: none;
					}
					img {
						transition: $transition;
						object-fit: cover;
						width: 100%;
						height: 100%;
						filter: grayscale(100%) opacity(90%);
						@media (max-width: $breakpoint-mobile) {
							filter: none;
						}
					}
				}
				.link {
					@include corners;
					display: inline-flex;
					flex-direction: row;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 100%;
					text-decoration: none;
					background-color: $black;
					transition: $transition;
					&:hover {
						background-color: $primary;
					}
					.label {
						font-size: 0.80rem;
						font-weight: $bold;
						text-transform: uppercase;
						color: $white;
						@media (max-width: $breakpoint-tablet) {
							font-size: 0.80rem;
						}
						@media (max-width: $breakpoint-mobile) {
							font-size: 0.70rem;
						}
					}
					.svg {
						margin: 0 0.5rem;
						width: auto;
						height: 13px;
						fill: $white;
						@media (max-width: $breakpoint-tablet) {
							height: 12px;
						}
						@media (max-width: $breakpoint-mobile) {
							height: 10px;
						}
					}
				}
			}
		}
	}
}


body.page-clients {
	.brands {
		margin: 2rem auto;
	}
}