.card-review {
	@include corners;
	@include dropshadows;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1.5rem 1.5rem;
	background-color: $white;
	border: 1px solid $borders;
	transition: $transition;
	.review {
		font-size: 0.95rem;
		line-height: 1.5rem;
		font-weight: $normal;
		color: $black;
		@media (max-width: $breakpoint-tablet-lg) {
			font-size: 0.90rem;
			line-height: 1.5rem;
		}
		@media (max-width: $breakpoint-tablet) {
			font-size: 0.85rem;
			line-height: 1.25rem;
		}
	}
	.user {
		display: flex;
		flex-direction: row;
		margin-top: 1.75rem;
		@media (max-width: $breakpoint-tablet-lg) {
			margin-top: 1.5rem;
		}
		@media (max-width: $breakpoint-tablet) {
			margin-top: 1rem;
		}
		.left {
			width: 25%;
			.user-image {
				@include circles;
				position: relative;
				overflow: hidden;
				display: flex;
				width: 40px;
				height: 40px;
				@media (max-width: $breakpoint-tablet-lg) {
					width: 36px;
					height: 36px;
				}
				img {
					transition: $transition;
					object-fit: cover;
					width: 100%;
					height: 100%;
				}
			}
		}
		.right {
			width: 75%;
			p {
				font-size: 1.05rem;
				line-height: 1.25rem;
				font-weight: $normal;
				color: $secondary;
				@media (max-width: $breakpoint-tablet-lg) {
					font-size: 0.90rem;
					line-height: 1.05rem;
				}
				@media (max-width: $breakpoint-tablet) {
					font-size: 0.85rem;
					line-height: 1rem;
				}
			}
			small {
				display: block;
				margin-top: 0.25rem;
				font-size: 0.75rem;
				font-weight: $normal;
				color: $grey;
				@media (max-width: $breakpoint-tablet-lg) {
					margin-top: 0.15rem;
					font-size: 0.70rem;
				}
				@media (max-width: $breakpoint-tablet) {
					margin-top: 0.25rem;
					font-size: 0.65rem;
				}
			}
		}
	}
}
