.footers {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 3rem 0 5rem 0;
	@media (max-width: $breakpoint-mobile) {
		padding: 1rem 0 1.5rem 0;
	}
	.left {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 49%;
		p {
			font-size: 0.85rem;
			font-weight: $normal;
			color: $secondary;
			@media (max-width: $breakpoint-mobile) {
				font-size: 0.75rem;
			}
		}
	}
	.right {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		width: 49%;
		a {
			font-size: 0.85rem;
			font-weight: $normal;
			text-decoration: none;
			color: $secondary;
			transition: $transition;
			@media (max-width: $breakpoint-mobile) {
				font-size: 0.75rem;
			}
			&:hover {
				text-decoration: none;
				color: $black;
			}
		}
	}
}
