.headers {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	background-color: $white;
	@media (max-width: $breakpoint-mobile) {
		height: 60px;
	}
	.left {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 49%;
		@media (max-width: $breakpoint-tablet-lg) {
			width: 69%;
		}
		.logo {
			img {
				width: auto;
				height: 50px;
				@media (max-width: $breakpoint-tablet-lg) {
					height: 40px;
				}
				@media (max-width: $breakpoint-mobile) {
					height: 30px;
				}
			}
		}
		h1 {
			margin-left: 1.5rem;
			font-size: 1.25rem;
			font-weight: $normal;
			line-height: normal;
			color: $grey;
			@media (max-width: $breakpoint-mobile) {
				margin-left: 0.5rem;
				font-size: 1.05rem;
			}
			@media (max-width: $breakpoint-tablet) {
				font-size: 1rem;
			}
			small {
				@include corners;
				display: inline-flex;
				margin: 0 0.45rem;
				padding: 0.25rem 0.45rem;
				font-size: 0.70rem;
				font-weight: $bold;
				line-height: 0.75rem;
				color: $grey;
				background-color: $bg;
				@media (max-width: $breakpoint-mobile) {
					display: none;
				}
			}
		}
		p {
			margin-left: 1.5rem;
			font-size: 1.05rem;
			font-weight: $light;
			line-height: 1rem;
			color: $grey;
			@media (max-width: $breakpoint-tablet) {
				font-size: 1rem;
			}
			@media (max-width: $breakpoint-mobile) {
				display: none;
			}
		}
	}
	.right {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		width: 49%;
		@media (max-width: $breakpoint-tablet-lg) {
			width: 29%;
		}
		.link {
			font-size: 0.85rem;
			font-weight: $bold;
			text-transform: uppercase;
			text-decoration: none;
			color: $black;
			transition: $transition;
			&:hover {
				text-decoration: none;
				color: $primary;
			}
		}
		.icon {
			display: flex;
			margin-left: 3rem;
			transition: $transition;
			&:hover {
				.svg {
					fill: $black;
				}
			}
			.svg {
				width: 24px;
				height: 24px;
				fill: $secondary-70;
				@media (max-width: $breakpoint-mobile) {
					width: 28px;
					height: 28px;
				}
			}
			img {
				width: auto;
				height: 28px;
				@media (max-width: $breakpoint-tablet-lg) {
					height: 24px;
				}
				@media (max-width: $breakpoint-mobile) {
					height: 20px;
				}
			}
		}
		.menus {
			.dropdown-menu {
				border-radius: 0;
				@include corners-bottom;
				@include dropshadows;
				border: 1px solid $borders;
				margin-top: 1.6rem !important;
				min-width: 220px;
				border-top: none;
				@media (max-width: $breakpoint-mobile) {
					margin-top: 0.85rem !important;
				}
				li {
					a {
						@include corners;
						margin: 0 0.75rem;
						padding: 0.75rem 1.5rem;
						width: auto;
						font-size: 1rem;
						font-weight: $bold;
						color: $secondary;
						transition: $transition;
						&:hover {
							color: $black;
							background-color: $orange-light;
						}
					}
				}
			}
		}
	}
}
