.progress {
	@include corners;
	display: flex;
	margin: 0.75rem 0 0.85rem 0;
	font-size: 0.7rem;
	font-weight: $bolder;
	line-height: normal;
	background-color: $bg;
	.progress-bar {
		background-color: $grey-70;
	}
}
