.services {
	display: flex;
	flex-direction: column;
	margin-top: 6rem;
	padding: 2rem 0.25rem;
	background-color: $bg;
	@media (max-width: $breakpoint-tablet-lg) {
		margin-top: 5rem;
	}
	@media (max-width: $breakpoint-tablet) {
		margin-top: 4rem;
	}
	@media (max-width: $breakpoint-tablet) {
		padding: 1.5rem 0;
	}
	.left {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		width: 45%;
		.image {
			width: 100%;
			height: auto;
		}
	}
	.right {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50%;
		.contents {
			p {
				margin-bottom: 0.75rem;
				font-family: 'Courier New', Courier, monospace;
				font-size: 1.75rem;
				color: $secondary;
			}
			h2 {
				margin-bottom: 0.75rem;
				font-size: 4rem;
				font-weight: $bold;
				color: $black;
			}
			h1 {
				font-size: 2rem;
				font-weight: $lighter;
				color: $secondary;
			}
		}
	}
	.sep {
		position: absolute;
		bottom: -3rem;
		width: 180px;
		height: 5px;
		background-color: $primary;
		left: 50%;
		transform: translateX(-50%);
	}
	.listing {
		@media (max-width: $breakpoint-tablet) {
			@include scrollbarsX;
		}
		ul {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
			flex-wrap: wrap;
			@media (max-width: $breakpoint-tablet) {
				flex-direction: initial;
				align-items: initial;
				justify-content: initial;
				flex-wrap: initial;
				margin: 0 auto;
				width: fit-content;
			}
			li {
				margin: 1rem 0.5rem;
				width: 280px;
				@media (max-width: $breakpoint-tablet-lg) {
					width: 28%;
				}
				@media (max-width: $breakpoint-tablet) {
					margin: 1.75rem 2rem 0 0;
					width: 280px;
				}
				@media (max-width: $breakpoint-mobile) {
					margin-top: 1rem;
					width: 250px;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
