.video {
	@include corners;
	@include dropshadows;
	display: block;
	margin: 3rem auto 0 auto;
	max-width: 90%;
	@media (max-width: $breakpoint-tablet) {
		margin: 2rem auto 0 auto;
	}
	&:last-child {
		margin-bottom: 3rem;
		@media (max-width: $breakpoint-tablet) {
			margin-bottom: 2rem;
		}
	}
}
